version: '3'

services: 
  api:
    build: ./
    ports:
      - '3000:3000'
    # networks: 
    #   - ecommerce-app
    # depends_on: 
    #   - mongo
    environment:
      - DB_USERNAME
      - DB_PASSWORD
      - DB_NAME
      - SENDGRID_API_KEY
      - STRIPE_KEY

#   mongo:
#     image: mongo:3.6-xenial
#     # environment:
#       # - MONGO_INITDB_DATABASE=store
#     ports:
#       - "27017:27017"
#     networks: 
#       - ecommerce-app
#     volumes: 
#       - mongo-data:/data/db

# networks: 
#   ecommerce-app:
#     driver: bridge

# volumes: 
#   mongo-data:
#     driver: local